/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: "Open Sans";

}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-fixed-top {
   border-color: #D3D3D3;
   background-color: #FFFFFF;
 }

.navbar {
  background: #fff;
}

/* logo position */
.navbar-brand {
  padding-left: 10px;
  padding-top: 0px;
}
.navbar-header .navbar-brand {
  border-top: 2px solid transparent;
}
.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: inherit;
  padding: 40px auto 40px auto;
  border-top: 2px solid transparent;
  border-bottom: 5px solid transparent;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  letter-spacing: 0.8px;
  border-bottom: 3px solid #FFFFFF;
  text-decoration: none;
}
.navbar-inverse .navbar-nav .nav-budget > a {
  border-bottom: 3px solid #FFFFFF;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.row.budget-row {
  padding-bottom: 5px;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.addbudget{
  margin-top: -20px;
  border-left-color: #00a5f6;
  border-left-width: 2px;
  border-left-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #00a5f6;
  padding-bottom: 50px;
}

.editbudget{
  margin-top: -20px;
  border-left-color: #00a5f6;
  border-left-width: 3px;
  border-left-style: solid;
  padding-bottom: 150px;
}

.category {
    width: 100%;
    text-align: left;
}

.caret {
  float: right;
}
